In [23]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [26]:
path_abruzzo = 'DataSet/Abruzzo.csv'
path_chieti = 'DataSet/Chieti.csv'
path_laquila = 'DataSet/L_Aquila.csv'
path_pescara = 'DataSet/Pescara.csv'
path_teramo = 'DataSet/Teramo.csv'

df_abruzzo = pd.read_csv(path_abruzzo)
df_chieti = pd.read_csv(path_chieti)
df_laquila = pd.read_csv(path_laquila)
df_pescara = pd.read_csv(path_pescara)
df_teramo = pd.read_csv(path_teramo)

display(df_abruzzo)
display(df_chieti)
display(df_laquila)
display(df_pescara)
display(df_teramo)

     2008-01-01        esercizi alberghieri        Italia   88624  257703
0    2008-01-01        esercizi alberghieri  Paesi esteri    5346   19124
1    2008-01-01  esercizi extra-alberghieri        Italia    5701   20039
2    2008-01-01  esercizi extra-alberghieri  Paesi esteri     202    2600
3    2008-02-01        esercizi alberghieri        Italia  100147  269014
4    2008-02-01        esercizi alberghieri  Paesi esteri    6621   24546
..          ...                         ...           ...     ...     ...
666  2021-11-01  esercizi extra-alberghieri  Paesi esteri     644    2153
667  2021-12-01        esercizi alberghieri        Italia   58441  111861
668  2021-12-01        esercizi alberghieri  Paesi esteri    2541    7108
669  2021-12-01  esercizi extra-alberghieri        Italia    9880   22646
670  2021-12-01  esercizi extra-alberghieri  Paesi esteri     454    1624

[671 rows x 5 columns]

     2008-01-01        esercizi alberghieri        Italia  13790  37455
0    2008-01-01        esercizi alberghieri  Paesi esteri   1218   4128
1    2008-01-01  esercizi extra-alberghieri        Italia    839   4391
2    2008-01-01  esercizi extra-alberghieri  Paesi esteri     77   1302
3    2008-02-01        esercizi alberghieri        Italia  14343  37685
4    2008-02-01        esercizi alberghieri  Paesi esteri   1417   5090
..          ...                         ...           ...    ...    ...
666  2021-11-01  esercizi extra-alberghieri  Paesi esteri    175    610
667  2021-12-01        esercizi alberghieri        Italia   9144  17671
668  2021-12-01        esercizi alberghieri  Paesi esteri    491   1575
669  2021-12-01  esercizi extra-alberghieri        Italia   1723   4326
670  2021-12-01  esercizi extra-alberghieri  Paesi esteri    105    468

[671 rows x 5 columns]

     2008-01-01        esercizi alberghieri        Italia  49457  153008
0    2008-01-01        esercizi alberghieri  Paesi esteri   1202    3745
1    2008-01-01  esercizi extra-alberghieri        Italia   4366   13855
2    2008-01-01  esercizi extra-alberghieri  Paesi esteri     85     486
3    2008-02-01        esercizi alberghieri        Italia  56456  160372
4    2008-02-01        esercizi alberghieri  Paesi esteri   1644    5523
..          ...                         ...           ...    ...     ...
666  2021-11-01  esercizi extra-alberghieri  Paesi esteri    149     446
667  2021-12-01        esercizi alberghieri        Italia  27056   51927
668  2021-12-01        esercizi alberghieri  Paesi esteri    772    1649
669  2021-12-01  esercizi extra-alberghieri        Italia   5226    9776
670  2021-12-01  esercizi extra-alberghieri  Paesi esteri    144     453

[671 rows x 5 columns]

     2008-01-01        esercizi alberghieri        Italia  15051  35058
0    2008-01-01        esercizi alberghieri  Paesi esteri   1975   7002
1    2008-01-01  esercizi extra-alberghieri        Italia    310   1185
2    2008-01-01  esercizi extra-alberghieri  Paesi esteri     27    733
3    2008-02-01        esercizi alberghieri        Italia  17267  32406
4    2008-02-01        esercizi alberghieri  Paesi esteri   2207   7714
..          ...                         ...           ...    ...    ...
666  2021-11-01  esercizi extra-alberghieri  Paesi esteri    232    672
667  2021-12-01        esercizi alberghieri        Italia  14659  22589
668  2021-12-01        esercizi alberghieri  Paesi esteri    868   2123
669  2021-12-01  esercizi extra-alberghieri        Italia   1598   4107
670  2021-12-01  esercizi extra-alberghieri  Paesi esteri    145    409

[671 rows x 5 columns]

     2008-01-01        esercizi alberghieri        Italia  10326  32182
0    2008-01-01        esercizi alberghieri  Paesi esteri    951   4249
1    2008-01-01  esercizi extra-alberghieri        Italia    186    608
2    2008-01-01  esercizi extra-alberghieri  Paesi esteri     13     79
3    2008-02-01        esercizi alberghieri        Italia  12081  38551
4    2008-02-01        esercizi alberghieri  Paesi esteri   1353   6219
..          ...                         ...           ...    ...    ...
666  2021-11-01  esercizi extra-alberghieri  Paesi esteri     88    425
667  2021-12-01        esercizi alberghieri        Italia   7582  19674
668  2021-12-01        esercizi alberghieri  Paesi esteri    410   1761
669  2021-12-01  esercizi extra-alberghieri        Italia   1333   4437
670  2021-12-01  esercizi extra-alberghieri  Paesi esteri     60    294

[671 rows x 5 columns]